/*=== Page scope
==============================================================================================*/
@mixin page-scope($pages...) {
  $selectors: ();

  @each $page in $pages {
    $selector: 'html';
    $part: split($page, '#');
    $len: length($part);

    @if $len >= 1 {
      $selector: "#{$selector}[data-controller='#{nth($part, 1)}']";
    }
    @if $len >= 2 {
      $selector: "#{$selector}[data-action='#{nth($part, 2)}']";
    }

    $selectors: append($selectors, $selector, comma);
  }

  #{$selectors} {
    @content;
  }
}


/*=== Get value for key from pseudo-map structure
==============================================================================================*/
@function find($vars, $key) {
  @each $var in $vars {
    @if nth($var, 1) == $key {
      @return nth($var, 2);
    }
  }
}


/*  Color helper
-----------------------------------------------*/
@function bp-color($name) {
  @return find($colors, $name);
}
