/*=== Page scope
==============================================================================================*/
@mixin page-scope($pages...) {
  $selectors: ();

  @each $page in $pages {
    $selector: 'html';
    $part: split($page, '#');
    $len: length($part);

    @if $len >= 1 {
      $selector: "#{$selector}[data-controller='#{nth($part, 1)}']";
    }
    @if $len >= 2 {
      $selector: "#{$selector}[data-action='#{nth($part, 2)}']";
    }

    $selectors: append($selectors, $selector, comma);
  }

  #{$selectors} {
    @content;
  }
}
